<form class="" action="/landmarks/<%= @landmark.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <p>Landmark Name <input id= "name" type="text" name="landmark[name]" value = "<%= @landmark.name %>"></p>
  <p>Year Completed <input id= "year_completed" type="number" name="landmark[year_completed]" value = "<%= @landmark.year_completed %>"></p>
  <input type="submit" name="" value="Edit Landmark">

</form>
