<form action="/landmarks" method="post">
  <p>Landmark Name <input id= "landmark_name" type="text" name="landmark[name]"></p>
  <p>Year Completed <input id= "landmark_year_completed" type="number" name="landmark[year_completed]"></p>
  <input type="submit" name="" value="Create New Landmark">
</form>
